* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
    background-position: right ;

}

body section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

section .container {
    width: 500px;
    height: fit-content;
    margin-top: 10%;
    /* background-color: rgba(255, 255, 255, 0.199); */
    background-image: linear-gradient(130deg, rgba(0, 0, 255, 0.15), rgba(255, 18, 129, 0.15));
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0 0 10px pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(8px);
    border: solid 2px pink;
}


.container h1 {
    margin-bottom: 20px;
    text-transform: capitalize;
    color: white;
    letter-spacing: 1px;
}

.container #form {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.container #form input {
    padding: 8px 8px;
    width: 75%;
    margin-right: 5px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 15px;
}

.container #form input:focus {
    outline: solid 2px green;
}

.container #form button {
    width: 25%;
    outline: none;
    border: none;
    background-color: green;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;

}

.container #form button:hover {
    background-color: #036803;
    transition: 0.5s;

}

.container ul {
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
    text-transform: capitalize;
    width: 65%;

}

.container ul li {
    margin-bottom: 10px;
    background-color: rgba(255, 71, 71, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 18px;
}

.container ul li span {
    cursor: pointer;
    font-size: 16px;

}

.container ul li span:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.container ul li p:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.container ul li:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.container ul li.checked {
    background-color: rgba(0, 128, 0, 0.5);
}


footer {
    background-color: rgba(128, 128, 128, 0.473);
    text-align: center;
    padding: 20px 0;
    line-height: 40px;
    color: white;
    backdrop-filter: blur(10px);
    margin-top: 50px;
}


@media (max-width: 500px) {
    body .container {
        width: 80%;
        margin-top: 40%;
        padding: 10px;
    }

    .container #form {
        width: 95%;
    }

    .container ul {
        width: 85%;
        font-size: 1em;
    }

}